Telemetry-Backend/.env
Telemetry-Backend/opensearch-data1
Telemetry-Backend/opensearch-data2

Telemetry-LoadBalancer/.env
Telemetry-LoadBalancer/kafka-controller-data
Telemetry-LoadBalancer/kafka-broker[0-9[0-9]*-data

Telemetry-Router/.env