Telemetry-Backend/.env
Telemetry-Backend/opensearch-data1
Telemetry-Backend/opensearch-data2

Telemetry-LoadBalancer/.env
Telemetry-LoadBalancer/kafka-broker00-data
Telemetry-LoadBalancer/kafka-broker01-data
Telemetry-LoadBalancer/kafka-broker02-data

Telemetry-Router/.env